.grid{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
}
.gridItems{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 85%;
    margin: 30px;
    border: 1px solid rgb(156, 155, 155);
    border-radius: 10px;
}
img{
    height: 300px;
    width: 100%;
    /* margin: 20px; */
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    /* align-items: center; */
}
.matter{
    display: flex;
    /* border: 1px solid black; */
}
/* .matter>img{
    height: 26px;
    margin-left: 5px;
} */
#img1{
    margin-left: 10px;
    height: 24px;
    width: 24px;
}
#img2{
    /* border: 1px solid black; */
    margin-left: 180px;
    height: 28px;
    width: 28px;
    /* flex-direction: row-reverse; */
}
p{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    color: rgb(92, 91, 91);
}
.buttonstyle{
    display: flex;
    justify-content: center;
}
button{
    background-color: rgb(87, 87, 241);
    border: 1px solid  rgb(87, 87, 241);
    cursor: pointer;
    border-radius:10px ;
    margin-top: 10px;
    align-items: center;
    height: 40px;
    width: 150px;
    color: white;
}

